{% extends "master.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block content %}
<h1>Activity : {{ event.activity.name }}</h1>
        <h2>
            <small>
                {{ event.date }} de {{ event.start_time }} - {{ event.end_time }}
                salles : {% for classroom in event.classrooms.all %}{{ classroom.name }} | {% endfor %}
            </small>
        </h2>

<h3>Enseignants :</h3>
<ul>
{% for teacher in teachers %}
    <li>{{ teacher.name }}</li>
{% endfor %}
</ul>

{% if message %}
    {% if success %}
        <div class="alert alert-success">Les absences ont bien été enregistrées<br>Validez en utilisant le lien <a href="{{ link }}">suivant</a></div>
    {% else %}
        <div class="alert alert-danger">Un incident est survenu lors de l'enregistrement</a></div>
    {% endif %}
{% else %}
    <form method="post" >{% csrf_token %}
        <input type="hidden" name="event" value="{{ event.event_id }}" />

        <div class="container">
            <h3>Students</h3>
            {% for student in students %}
                    <div class="col-md-3">
                        <label>
                            <a  href="{% url "student" student.adeweb_id %}" >
                            {{ student.name }}
                        </a>
                            <input type="checkbox" value="{{ student.adeweb_id }}" name="students" >
                            <img src="{% static "img/trombi/"%}{{ student.name|slugify}}.jpg" style="width: 70%; height: 70%;">

                        </label>
                    </div>
            {% endfor %}
        </div>
        <div class="container">
                <input class="btn btn-primary" type="submit" value="Envoyer le relevé d'absences"/>
        </div>
    </form>
{% endif %}
{% endblock content %}