{% extends "master.html" %}
{% load bootstrap3 %}

{% block content %}

{% if number_students %}
    <h1>{{ number_students }} Students in {{ group }}</h1>
    {% if students %}
        <h1>Groups</h1>
            <ul class="list-group">
            {% for student in students %}
                <a class="list-group-item"  href={% url "student" student.adeweb_id %} >
                    <h4>{{ student.name }}</h4>
                </a>
            {% endfor %}
            </ul>
    {% endif %}
{% else %}
    <h2>No student in {{ group }}</h2>
{% endif %}

<h1>10 prochains cours</h1>
    <ul class="list-group">
    {% for activity in activities %}
        <a class="list-group-item"  href={% url "activity" activity.adeweb_id %} >
            <h4>{{ activity.name }}</h4>
        </a>
    {% endfor %}
    </ul>

{% endblock content %}