# Developers
.git
.idea/
*.db
*.pyc
*~
bigbrother/db.sqlite3

# xml files
bigbrother/adeweb/activities.xml
bigbrother/adeweb/resources.xml

#trombi
bigbrother/static/bigbrother/img/trombi/*

# Environment
settings_local.py
/env/
/media/
/static/
/log/

