# Developers
.hg
.git
.svn
.idea/
.sass-cache/
*.db
*.pyc
*~

# xml files
/src/bigbrother/adeweb/activities.xml
/src/bigbrother/adeweb/resources.xml

# Javascript libraries
/src/bigbrother/static/bigbrother/lib/bootstrap/*
!/src/bigbrother/static/bigbrother/lib/bootstrap/dist
/src/bigbrother/static/bigbrother/lib/font-awesome/*
!/src/bigbrother/static/bigbrother/lib/font-awesome/css
!/src/bigbrother/static/bigbrother/lib/font-awesome/fonts
/src/bigbrother/static/bigbrother/lib/jquery/*
!/src/bigbrother/static/bigbrother/lib/jquery/dist

# Environment
settings_local.py
/env/
/media/
/static/
/log/

