{% extends "master.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block extra_css %}
{% endblock %}

{% block content %}

<h1>My Schedule</h1>

<div class=list-group">
  <h2 class="list-group-item heading">Today</h2>
    {% for event in today %}
          <a href="{% url "event" event.pk %}" class="list-group-item">{{ event.lecture.name }}</a>
    {% endfor %}
</div>

<div class=list-group">
  <h2 class="list-group-item heading">Tomorrow</h2>
    {% for event in tomorrow %}
          <a href="#" class="list-group-item">{{ event.lecture.name }}</a>
    {% endfor %}
</div>

<div class=list-group">
  <h2 class="list-group-item heading">This week</h2>
    {% for event in week %}
          <a href="#" class="list-group-item">{{ event.lecture.name }}</a>
    {% endfor %}
</div>

{% endblock %}
