{% extends "master.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block content %}
<h1>
    Activity : {{ event.lecture.name }}
    {% if user.is_teacher %}
        {% if event.report %}
            <a class="btn btn-danger" href={% url "event-report" event.pk %}><span class="glyphicon glyphicon-bullhorn"></span> Edit absences</a>
        {% else %}
            <a class="btn btn-danger" href={% url "event-create-report" event.pk %}><span class="glyphicon glyphicon-bullhorn"></span> Make a report for absences</a>
        {% endif %}
    {% endif %}
</h1>
        <h2>
            <small>
                {{ event.start }} - {{ event.end }}
                salles : {% for classroom in event.classrooms.all %}{{ classroom.name }} | {% endfor %}
            </small>
        </h2>

<h3>Enseignants :</h3>
<ul>
{% for teacher in teachers %}
    <li>{{ teacher.first_name }} {{ teacher.last_name }}</li>
{% endfor %}
</ul>


{% endblock content %}