{% extends "master.html" %}

{% block content %}
      <div class="row">
        <div class="col-md-4">
          <h2>Enseignants</h2>
          <li>Accès à la liste des étudiants normalement présents aux cours</li>
          <li>Relevé des absents</li>
          <li>Suivi des absences pour un groupe ou un cours</li>
          <li>Emploi du temps, composition des groupes, trombinoscope</li>
             <br />
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </ul>
        </div>
        <img src="{% static 'bigbrother/img/bigbrother.png' %}" class="col-md-4">
        <div class="col-md-4">
          <h2>Etudiants</h2>
          <li>Prise en compte les excuses pour absences justifiées dans une partie réservée à l’administration</li>
          <li>Relevé detaillé des absences</li>
          <li>Emploi du temps, composition des groupes, trombinoscope</li>
          <br />
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
{% endblock content%}