{% extends "master.html" %}

{% block content %}

<div class="jumbotron">
  <h1>{{ membership }}</h1>
  <p><a href="{% url "absence-membership" membership.pk %}" class="btn btn-danger btn-lg" role="button">Absences</a></p>
</div>

{% if number_students %}
    <h1>{{ number_students }} Students in {{ membership }}</h1>
    {% if students %}
            <ul class="list-group">
            {% for student in students %}
                <a class="list-group-item"  href={% url "student" student.adeweb_id %} >
                    <h4>{{ student.first_name }} {{ student.last_name }}</h4>
                </a>
            {% endfor %}
            </ul>
    {% endif %}
{% else %}
    <h2>No student in {{ membership }}</h2>
{% endif %}

<h1>10 prochains cours</h1>
{% include "events.html" %}

{% endblock content %}