{% extends "master.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block content %}
<h1>Report for : {{ event.lecture.name }}</h1>
        <h2>
            <small>
                {{ event.start }} - {{ event.end }}
                salles : {% for classroom in event.classrooms.all %}{{ classroom.name }} | {% endfor %}
            </small>
        </h2>

<h3>Teachers :</h3>
<ul>
{% for teacher in event.teachers.all %}
    <li>{{ teacher.first_name }} {{ teacher.last_name }}</li>
{% endfor %}
</ul>

{% block subcontent %}
{% endblock subcontent %}


{% endblock content %}