{% extends "absences/absence-base.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block subcontent %}
    {% if event.report %}
        <h3>Liste des absences : </h3>
        <div class="col-md-12">
        Total : {{ absences.count }}
        </div>
        <br>
        <br>
        {% for absence in absences %}
            <div class="col-md-4">
                <a  href="{% url "absence-update" absence.pk %}" >
                    <img src="{% static absence.student.image_url %}">
                    <br>{{ absence.student.first_name }} {{ absence.student.last_name }}
                    {% if absence.excused %}
                        (<span style="color: green">EXCUSE</span>)
                    {% endif %}
                </a>
            </div>
        {% empty %}
            Pas d'absences pour ce cours
        {% endfor %}

    {% else %}
        <h2>Pas de feuille d'absence pour ce cours</h2>
        <a class="btn btn-danger" href="{% url "event-create-report" event.pk %}" >{% bootstrap_icon "bullhorn"%} Faire l'appel</a>

    {% endif %}
{% endblock subcontent %}