{% extends "master.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block content %}
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <a href="{% url "password_change" %}">Change password</a>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Submit
            </button>
        {% endbuttons %}
    </form>
{% endblock content %}